@import 'tailwindcss';

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

/* Web3APIButton in the Sidebar */
.nextra-mobile-nav ul li:last-of-type {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

.home-content a {
  --tw-ring-color: hsl(var(--nextra-primary-hue) 100% 50%/0.3);
  --tw-text-opacity: 1;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  color: hsl(var(--nextra-primary-hue) 100% 50% / var(--tw-text-opacity));
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }
  .home-content .hide-small {
    display: none;
  }
}

/* Position custom callouts icons */
.nextra-callout-icon-area {
  @apply select-none text-xl ltr:pl-3 ltr:pr-2 rtl:pr-3 rtl:pl-2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* less space between lines of text in callouts */
.nx-leading-7 {
  line-height: 1.5rem;
}

/* Make embedded YouTube container responsive */
.responsive-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Make space before a list and before a nested list of a diff kind shorter */
ul.nx-mt-6,
ol.nx-mt-6 {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}
