@import 'tailwindcss';

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

/* Web3APIButton in the Sidebar */
.nextra-mobile-nav ul li:last-of-type {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

/* Position custom callouts icons */
.nextra-callout-icon-area {
  @apply select-none text-xl ltr:pl-3 ltr:pr-2 rtl:pr-3 rtl:pl-2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* less space between lines of text in callouts */
.x\:leading-7 {
  line-height: 1.5rem;
}

/* Make embedded YouTube container responsive */
.responsive-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Make space before a list and before a nested list of a diff kind shorter */
ul.mt-6,
ol.mt-6 {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

.nextra-breadcrumb {
  margin-bottom: 1rem;
}
