@tailwind base;
@tailwind utilities;
@tailwind components;

/* @layer base{
  body{
      @apply bg-green-100 text-green-900; 
  }
} */

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.callout a {
  color: inherit;
}

sup a {
  @apply text-current;
  text-decoration: none;
}

.footnotes {
  @apply text-sm;
}

ul.mt-6,
ol.mt-6 {
  margin-top: 0.65em;
}

@media (min-width: 768px) {
  div.mb-8.flex.items-center.border-t.pt-8 > a.gap-1.flex.items-center.py-4.text-base.font-medium.text-gray-600.transition-colors {
    font-size: 1rem;
  }
}
