@tailwind base;
@tailwind utilities;
@tailwind components;

/* @layer base{
  body{
      @apply bg-green-100 text-green-900; 
  }
} */

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.callout a {
  color: inherit;
}

sup a {
  @apply text-current;
  text-decoration: none;
}

.footnotes {
  @apply text-sm;
}

/* Make space before a list and before a nested list of a diff kind shorter */
ul.mt-6,
ol.mt-6 {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

/* Make Prev/Next links font for the desktop version as small as for mobile */
@media (min-width: 768px) {
  div.mb-8.flex.items-center.border-t.pt-8 > a.gap-1.flex.items-center.py-4.text-base.font-medium.text-gray-600.transition-colors {
    font-size: 1.1rem;
  }
}

/* Links in outlined rectangles */


hr.my-8 {
  margin-top: 1.5em;
  margin-bottom: -0.1em;
}

h3.mt-8 {
  margin-bottom: -0.2em;
}

h4.mt-8 {
  margin-bottom: -0.3em;
}

.nextra-callout.mt-6 {
  margin-top: 1.9em;
  padding-bottom: 0.6rem;
}

.nextra-callout-icon-area {
  @apply select-none text-xl ltr:pl-3 ltr:pr-2 rtl:pr-3 rtl:pl-2;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.redoc-wrap {
  background-color: white;
}

.menu-content {
  top: 64px !important;
}

/* Some debatable stylign refinements

h2.mt-10 {
  margin-bottom: 0.6em;
}

h3.mt-8 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4.mt-8 {
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

pre.mt-6 {
  margin-top: 1.1em;
}

p.mt-6 {
  margin-top: 0.7em;
  margin-bottom: -0.2em;
}

blockquote.mt-6 {
    margin-top: 1.4em;
}

 */

