/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.top {
  width: 100%;
  height: 490px;
  background-color: #f2f5fa;
}
.root {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.title {
  font-family: 'TT Firs Neue', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  color: #1f2226;
  margin-bottom: 20px;
}

.subTitle {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 28px;
  color: rgba(31, 34, 38, 0.5);
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 260px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  background: #1f2226;
  border-radius: 12px;

  font-family: 'Inter';
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
}

.button:hover {
  color: white;
  text-decoration: none;
  background: #356DF3;
}

@media (max-width: 1235px) {
  .top {
    height: auto;
  }
  .root {
    padding-top: 12px;
    padding-bottom: 100px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .container {
    align-items: center;
  }
}
@media (max-width: 1235px) {
  svg {
    max-width: 100%;
  }
  .button {

    font-size: 15px;
  }
  .title {
    font-size: 36px;
    line-height: 120%;
  }
  .subTitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .title,
  .subTitle {
    padding: 0 16px;
    text-align: center;
  }
  .buttons {
    flex-direction: column;
    padding: 0 60px;
  }
  .button {
  }
}
