@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.otf") format("otf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("Helvetica Neue Medium Extended.otf") format("otf"),
    url("Helvetica Neue Medium Extended.ttf") format("ttf");
}
