.features {
  background-color: #f2f5fa;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1235px) {
  .container {
    max-width: 600px;
    padding: 16px;
  }
}
.wrapper {
  margin-left: -10px;
  margin-right: -10px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.item {
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding: 32px 60px 72px 50px;
  margin: 0 10px 40px 10px;
  width: calc(50% - 20px);
}
.title {
  font-family: 'TT Firs Neue', sans-serif;
  color: #1F2226;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 24px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 1235px) {
  .title {
    font-size: 24px;
  }
}

.description {
  font-size: 16px;
  line-height: 1.2;
  color: rgba(31, 34, 38, 0.5);
}

.list {
  margin-bottom: 48px;
  color: rgba(31, 34, 38, 0.5);
}

.listItem {
  padding-left: 20px;
  margin-bottom: 16px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.2;
  position: relative;
}
.listItem:before {
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #356DF3;
  position: absolute;
  top: 6px;
  left: 2px;
}

.learnMore {
  height: 22px;
    /*color:rgba(31, 34, 38, 1);*/

  position: absolute;
  left: 52px;
  bottom: 50px;

  display: flex;
  align-items: center;

  font-family: 'Inter';
  font-weight: 700;
  color: #356DF3;
  font-size: 18px;
  line-height: 22px;
}
.learnMore:hover {
  color: #1F2226;
  text-decoration: none;
}
.learnMore:hover svg {
    transform: translateX(5px);
    fill: #1F2226;;
    stroke: #1F2226;;
}
.learnMore svg {
  margin-left: 10px;

  transition: 225ms;

  fill: #356DF3;
  stroke: #356DF3;
}

.button {
  color: white;
  background: linear-gradient(0deg, #1f2226, #1f2226), #356df3;
  border-radius: 12px;
  width: 212px;
  height: 54px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 1235px) {
  .container {
    flex-direction: column;
  }

  .item {
    width: calc(100% - 20px);
  }
}
