.wrapper {
  background-color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  width: 100%;
}
.info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 2px solid #f2f5fa;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.title {
  font-family: 'Inter';
  font-weight: 500;
  color: #1f2226;
  font-size: 18px;
  line-height: 1.45;
  margin-bottom: 22px;
}

.partners,
.link {
  margin-bottom: 50px;

  font-family: 'Inter';
  font-weight: 500;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.partner a {
  margin-right: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}
.list a {
  color: #1f2226;
  opacity: 0.5;
  margin: 8px 0;
}
.list a:hover {
  text-decoration: none;
}
.cryptoWidget {
  margin-left: -20px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: rgba(31, 34, 38, 0.5);
}
.service a {
  color: inherit;
  margin-left: 30px;
}
.service a:hover {
  text-decoration: none;
}

.copy {
  display: flex;
  align-items: center;
}
.copy svg {
  margin-right: 30px;
}

@media (max-width: 1235px) {
  .container {
    padding: 120px 20px 0 20px;
    max-width: 688px;
  }
  .partner {
    flex-direction: column;
    align-items: flex-start;
  }
  .cryptoWidget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 1235px) {
  .partner {
    flex-direction: column;
  }
  .service {
    flex-direction: column;
    align-items: flex-start;
  }
  .copy {
    margin-bottom: 15px;

    flex-direction: column;
    align-items: flex-start;
  }
  .copy svg {
    margin-bottom: 20px;
  }
  .service a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (max-width: 1235px) {
  .partners,
  .link {
    width: 50%;
  }
}
